<% provide(:title, "Conversation") %>
<h1>My Inbox</h1>
<div>
  <div>
    <div>
      <%= will_paginate @conversations, param_name: 'conversations_page' %>
      <div>
        <ul class="users">
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% receiver = User.find(conversation.receiver_id) %>
              <% else %>
                <% receiver = User.find(conversation.sender_id) %>
              <% end %>
            <li><%= link_to "#{conversation.post.name+" - "+receiver.name}", conversation_messages_path(conversation)%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= will_paginate @conversations, param_name: 'conversations_page' %>
    </div>
  </div>
</div>