<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <h1>Name: <%= @user.name %></h1>
      <h4>Email ID: <%= @user.email %></h4>
    </section>
  </aside>
</div>